.chart {
    width: 100%;
    min-height: 400px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Quita el subrayado del enlace */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse sobre el botón */
  }
  